{% extends "layout.html" %} {% block content %}
<!-- Header-->
<header
  class="bg-dark py-5"
  style="
    background-image: url('https://images.unsplash.com/photo-1510247548804-1a5c6f550b2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Mervana</h1>
      <p class="lead fw-normal text-white-80 mb-0">
        Apoyo a los mercados campesinos
      </p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for product in products %}
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="{{ product.image }}" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.name }}</h5>
              <!-- Product price-->
              <p class="fw-normal">
                <span class="text-muted">Precio:</span>
                <span class="text-primary">${{ product.price }}</span>
              </p>
              <!-- Product stock-->
              {% if product.stock == 0 %}
              <p class="fw-normal">
                <span class="text-warning">Sin Stock</span>
              </p>
              {% else %}
              <p class="text-muted mb-0">
                <small>
                  <span class="text-muted">Stock:</span> {{ product.stock }}
                </small>
              </p>
              {% endif %}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
