{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Agregar nuevo producto</h4>
        </div>
        <div class="card-body">
          <form action="/products/create" method="post">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Imagen</label>
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    placeholder="URL Imagen"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Descripción</label>
                  <input
                    type="text"
                    class="form-control"
                    name="description"
                    placeholder="Descripción"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Precio</label>
                  <input
                    type="text"
                    class="form-control"
                    name="price"
                    placeholder="Precio"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Cantidad</label>
                  <input
                    type="text"
                    class="form-control"
                    name="stock"
                    placeholder="Cantidad"
                  />
                </div>
              </div>
            </div>
            <div class="span12 justify-content-center text-center m-3">
              <button type="submit" class="btn btn-secondary span4">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
